<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#666666">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <title>RaspiBallPosInterface</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="/static/css/ransac.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
</head>

<body onload="load()">
    <script type="text/javascript">
        function toggle_image(image_class) {
            var cb_string = [image_class, '_cb'].join('');
            var images = document.getElementsByClassName(image_class);
            var checked = document.getElementById(cb_string).checked;
            for (image of images) {
                image.style.visibility = (checked ? 'visible' : 'hidden')
            }
        }

        function load() {
            {%for image, _ in images_n_labels[1:]%}
            var checked = JSON.parse(localStorage.getItem("{{image}}_cb"));
            document.getElementById("{{image}}_cb").checked = checked;
            var images = document.getElementsByClassName("{{image}}");
            for (im of images) {
                im.style.visibility = (checked ? 'visible' : 'hidden')
            }
            // image.toggle($(this).prop('checked'));
            {% endfor %}
        }

        function save(id) {
            var checkbox = document.getElementById(id);
            console.log(checkbox.attributes)
            localStorage.setItem(id, checkbox.checked);
        }

        function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }

        function fake_image_update() {
            {%for i in range(ball_nr) %}
            {%for image, label in images_n_labels %}
            $(".{{image}}-{{i}}").attr(
                "src", "/static/{{image}}-{{i}}.png?time=" + new Date().getTime()
            )
            {% endfor %}
            {% endfor %}
        }

        function update_modeled_values(data) {
            {%for i in range(ball_nr) %}
            $("#modeled-{{i}}").text("modeled " + data.nr_modeled[{{ i }}]+" (found: " + data.nr_found[{{ i }}]+")");
        console.log(document.getElementById("confidence_threshold").value)
        console.log(parseInt(document.getElementById("confidence_threshold").value))
        if (parseInt(document.getElementById("confidence_threshold").value) > data.nr_found[{{ i }}]) {
            console.log("adding text")
            $("#modeled-{{i}}").append("<p>Consider decreasing confidence threshold - ball not detected due to not enough border pixels available (must be > confidence)</p>")
        }
        {% endfor %}
        }

        function change_parameter(id) {
            console.log(document.getElementById(id).value)
            $.getJSON("/ransac/change", {
                id: id,
                value: document.getElementById(id).value,
            }, function (data) { update_modeled_values(data) });
            // no idea why but calling it once, then sleeping and calling it for the second time makes it work...
            fake_image_update()
            sleep(400);
            fake_image_update();
        }

        function change_color_amounts() {
            let columns = Array.from(document.getElementById("colors-row").getElementsByTagName("*"));
            let amounts = [];
            for (column of columns) {
                let textInput = [...column.getElementsByTagName("*")][0];
                if (!textInput) { continue; }
                amounts.push(textInput.value);
            }
            $.getJSON("/ransac/change_amounts", {
                amounts: JSON.stringify(amounts.slice(0, amounts.length - 1)),
            }, function (data) { if (data.response !== 0) { alert("Invalid input!"); } else { location.reload(); } });
        }

    </script>
    <div style="display:flex;flex-direction:column;flex:1" class="padded_left">
        <div class="container-ims">
            {%for i in range(ball_nr)%}
            <div class="image-modeled">
                <div class="image-stack">
                    {%for image,_ in images_n_labels%}
                    <img class="{{image}} {{image}}-{{i}}" src="/static/{{image}}-{{i}}.png"
                        {%if image!= 'image_crop'%}style="visibility: hidden;\" {%endif%} />
                    {%endfor%}
                </div>
                <p id="modeled-{{i}}">modeled: {{nr_modeled[i]}} (found: {{nr_found[i]}})</p>
            </div>
            {%endfor%}
        </div>

        <div style="display:flex;">
            <div id="checkboxes" class="padded_left">
                {%for image, label in images_n_labels[1:]%}
                <input id={{image}}_cb type="checkbox" name={{image}}_cb class="cboxes"
                    onchange="save('{{image}}_cb'); toggle_image('{{image}}')" />
                <label for={{image}}_cb>{{label}}</label>
                <script>
                    $(document).ready(function () {
                        toggle_image("{{ image }}");
                    });
                </script>
                <br>
                {%endfor%}
            </div>
        </div>
        <!-- <br> -->
        <div id="settings" class="padded_left">
            <div class="row">
                <div class="col-md-2">
                    Ball radius:</div>
                <div class="col-md-2">
                    <input id="{{settings.ids[1]}}" value="{{settings.ball_radius}}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"> Maximum iterations:</div>
                <div class="col-md-2"><input id="{{settings.ids[2]}}" value="{{settings.max_iterations}}" /></div>
            </div>
            <div class="row">
                <div class="col-md-2">Confidence threshold:</div>
                <div class="col-md-2"><input id="{{settings.ids[3]}}" value="{{settings.confidence_threshold}}" /></div>
            </div>
            <div class="row">
                <div class="col-md-2"> Downsampling:</div>
                <div class="col-md-2"><input id="{{settings.ids[4]}}" value="{{settings.downsample}}" /></div>
            </div>
            <div class="row">
                <div class="col-md-2">Tolerance coeff min:</div>
                <div class="col-md-2"><input id="{{settings.ids[5]}}" value="{{settings.tol_min}}" /></div>
                <div class="col-md-1"> max: </div>
                <div class="col-md-2"><input id="{{settings.ids[6]}}" value="{{settings.tol_max}}" /></div>
            </div>
            <div class="row">
                <div class="col-md-2"> Maximum expected movement per frame:</div>
                <div class="col-md-2"><input id="{{settings.ids[8]}}" value="{{settings.max_dx}}" /></div>
            </div>
            <div class="row">
                <div class="col-md-2">Ball color amounts:</div>
                <div class="col-md-5">
                    <div class="row" id="colors-row">
                        {%for i in range(color_nr)%}
                        <div class="col-md-1"><input id="{{settings.ids[7]}}-{{i}}" class={{settings.ids[7]}} size="3"
                                style="background-color: {{colors[i]}}; color:white;"
                                value="{{settings.ball_color_amounts[i]}}" /></div>
                        {%endfor%}
                        <div class="col-md-1" id="add-button"><button type="button" style="width: 50px">+</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        let node;
        $(document).ready(function () {
            {%for id in settings.ids[1:]%}
            {%if (id != settings.ids[7])%}
            node = document.getElementById("{{id}}");
            node.addEventListener('keyup', ({ key }) => {
                if (key === "Enter") change_parameter("{{id}}");
            })
            {% endif %}
            {% endfor %}
        });

        $(document).ready(function () {
            nodes = document.getElementsByClassName('{{settings.ids[7]}}');
            for (node of nodes) {
                node.addEventListener('keyup', ({ key }) => {
                    if (key === "Enter") change_color_amounts();
                })
            }
        })
    </script>

    <script>
        $(document).ready(function () {
            node = document.getElementById("add-button");
            node.addEventListener('click', add_color);
        });

        let index = {{ color_nr }};
        function add_color() {
            let newColumn = document.createElement("div");
            newColumn.className = "col-md-1";
            let text = document.createElement("input");
            text.addEventListener('keyup', ({ key }) => {
                if (key === "Enter") change_color_amounts()
            });
            text.id = "{{settings.ids[7]}}-" + index;
            text.size = 3;
            text.value = 0;
            newColumn.appendChild(text);
            const button = document.getElementById("add-button");
            document.getElementById("colors-row").insertBefore(newColumn, button);
            index++;
        };
    </script>
    <!-- Bootstrap core JavaScript
		================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</body>

</html>